:root {
    --primario: rgb(156, 156, 212);
    --blanco: white;
    --gris: rgb(95, 93, 93);
    --negro: black;

    /** Fuentes principales **/
    --fuentePrimaria: "Montserrat", sans-serif;
    --fuenteSecundaria: "Birthstone Bounce", cursive;
}

/** Snipet **/
/** "https://www.paulirish.com/2012/box-sizing-border-box-ftw/" **/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** 1 rem es 10px **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/** Globales **/
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;

}

h1 {
    font-size: 8rem;
    color: var(--negro);
    font-family: var(--fuenteSecundaria);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: var(--negro);

}

a {
    text-decoration: none;

}

img {
    max-width: 100%;
}

/* Cajas de contenidos principales */

.cursiva,
.seccion1__contenedor,
.cursiva__cumpleaños {
    margin: 0;
    /* margen para el texto*/
    font-size: 8rem;
    color: var(--negro);
    font-family: var(--fuenteSecundaria);
    margin: 0 0 1rem 0;
}

/** Header **/
.header {
    display: flex;
    justify-content: center;
    padding: 0;
    
}
@media (min-width: 768px) {
    .header {
    display: flex;
    justify-content: center;
    padding: 0;
}
}

.header__logo {
    width: 30rem;
    height: auto;
    margin: 0;
    display: block;
}

.header__logo--img {
    width: 15rem;
    display: block;
    margin: 2rem auto;
}
@media (min-width: 768px) {
    .header__logo--img {
    width: 100%;
    display: block;
    margin: 2rem ;
}
}

/** footer **/
.footer {
    background-color: var(--gris);
    padding: 2rem 0;
    margin-top: 1rem;
    text-align: center;
}

.footer__texto {
    font-family: var(--fuentePrimaria);
    font-size: 1.5rem;
    color: var(--blanco);
}

/** Navegación **/
.navegacion {
    background-color: var(--blanco);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 5rem;
    
}
@media (max-width: 768px) {
    .navegacion {
        display: grid;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }
}

.navegacion__enlace {
    font-family: var(--fuentePrimaria);
    color: var(--negro);
    gap: 2rem;
    text-transform: uppercase;
    margin: 0rem auto; /* Quitamos los margenes de los textos para hacerlos compactos*/
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--primario);
}

/** Enlaces a redes sociales **/

.iconsLinks {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    gap: 1rem;
    padding: 3rem 0 0 0;
    /** aplicamos solo espacio arriba**/
}

.icon {
    width: 2rem;
}


/* ------------------ PAGINA DE CUMPLEAÑOS ------------------ */
/** Primer contenedor index **/
.seccion1 {
    display: flex;
    justify-content: center;
    padding: 0 0 3rem 0;
}

.grid__caja {

    border: 0.1rem solid black;              /* Borde exterior */
    box-shadow: inset 0 0 0 0.2rem black;    /* Borde interno */

    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 90%;
    background-color: var(--blanco);
    padding: 1rem;
    border-radius: 1rem;
    gap: 2rem;

    /* Imagen de fondo en el contenedor */
    background-image: url(../img/mesa.svg);
    background-size: cover;        /* Hace que cubra todo el contenedor */
    background-position: center;   /* Centra la imagen */
    background-repeat: no-repeat;  /* Evita que se repita */
}

@media (min-width: 768px) {
    .grid__caja {

    border: 0.1rem solid black;              /* Borde exterior */
    box-shadow: inset 0 0 0 0.2rem black;    /* Borde interno */

    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 90%;
    background-color: var(--blanco);
    padding: 1rem;
    border-radius: 1rem;

    /* Imagen de fondo en el contenedor */
    background-image: url(../img/mesa.svg);
    background-size: cover;        /* Hace que cubra todo el contenedor */
    background-position: center;   /* Centra la imagen */
    background-repeat: no-repeat;  /* Evita que se repita */
}
}

.texto__caja--auto {
    align-items: center;
    width: fit-content;
    height: auto;
    padding: 0.4rem 1rem;
    white-space: nowrap;
    justify-self: start; 
    display: flex;
    height: 3rem;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: var(--negro);
    color: var(--blanco);
    font-family: var(--fuentePrimaria);
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .texto__caja {
        display: flex;
        justify-content: center;
        width: 22rem;
        height: 3rem;
        border: 2px solid black;
        border-radius: 1rem;
        background-color: var(--negro);
    }
}

.texto__relleno {
    margin: 0;
    /* Margen para el texto */
    font-family: var(--fuentePrimaria);
    text-transform: uppercase;
    color: var(--blanco);

}

.botonCumpleaños {
   /* display: grid;
    align-items: center;
    width: 25rem; */
}
.botonCumpleaños__boton {
    text-transform: uppercase;
    padding: 14px 28px;
    font-size: 18px;
    font-family: var(--fuentePrimaria);
    color: #fff;
    background: linear-gradient(135deg, #c022b5, #ff9671, #d28b27);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(255, 111, 145, 0.45);
}

/** GRID calendario cumpleaños **/

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 0 0 3rem 0;
    /** Separacion abajo **/
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(7, 1fr);
    }
}

/** Cumpleaños **/

.seccionCumpleaños {
    width: 90%;
    margin: 0 auto;
}

.calendario {
    background-color: var(--gris);
    padding: 1rem;
}

.cumpleaños {
    background-color: var(--blanco);
    padding: 0.5rem;
}

.nombre__persona {
    font-size: 2rem;

}

.cumpleaños__dia {
    font-size: 1.5rem;

}

.nombre__persona,
.cumpleaños__dia {
    font-family: var(--fuentePrimaria);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

}

.cumpleaños__foto {
    width: 100%;
    height: auto;
    display: block;
}
